body{
background-color: #ffffcc;

}

.one {
	height: 100px;
	width: 300px;
	background-color: green;

}

.two {
	height: 100px;
	width: 300px;
	background-color: yellow;

}
.three {
	height: 100px;
	width: 300px;
	background-color: red;

}