body{
	background-color: #cc0066;
	color: white;
	font-size: 14px;
	width: 95%;
	margin: 0 auto;
}

.parallax{
	width: 100%;
	height: 30vw;
	background: url("../img/princeton.jpg") fixed 100%;
	background-size: contain;
}

.welcome{
	width: 60%;
	position: relative;
	top: 20%;
	text-align: center;
	padding: 5% 2%;
	margin: 0 auto;
	border: 10px solid orange;
	border-radius: 20px;
}

.visit{
	display: flex;
	background-color: #cc0066;
	border: none;
	border-bottom: 1px solid white;
	color: white;
/*	width:60%;*/
	word-wrap: break-word;
	rows: 2;
}

.ui-datepicker-header{
	background-color: orange;
}

th{
	color: orange;
}

.invalid-feedback{
	color: yellow;
}

hr{
	height: 1px;
	background-color: white;
}
footer{
	background-color: black;
}
