
.row{
	margin-bottom: 0px;
	margin-top: 0px;
}

.logoCircle{
	display: inline-block;
	height: 60px;
	width: 60px;
	background-color: white;
	border-radius: 100%;
	margin-left: 1%;
	margin-top: 0.25%;
}

.logo{
	display: inline-block;
	margin-left: 10px;
	margin-top: 5px;
}

#heading:hover{
	text-decoration: none;
}

.lgNav{
	font-size: 20px;
}

.mainPic{
	height: 300px;
	width: 100%;
	background-image: url("../img/pizza1.jpeg");
	background-size: cover;
}


#deals{
	margin-left: 0px;
	margin-right: 0px;
}

h3{
	text-decoration: underline;

}
#selection{
	border: 1px solid black;
	margin-left: 0px;
	margin-right: 0px;
}
.size, .meat{
	border-right: 1px solid black;
}

#order-carousel{
	height:300px;
}

#pizza{
	position: relative;
}