
.row{
	margin-bottom: 0px;
	margin-top: 0px;
}

.logoCircle{
	display: inline-block;
	height: 60px;
	width: 60px;
	background-color: white;
	border-radius: 100%;
	margin-left: 1%;
	margin-top: 0.25%;
}

.logo{
	display: inline-block;
	margin-left: 10px;
	margin-top: 5px;
}

#heading:hover{
	text-decoration: none;
}

#costBox{
	width: 15%;
	height:5%;
	background-color: white;
	color: black;
	border: 1px solid black;
	border-radius: 10%;
	display: inline-block;
	font-size: 18px;
	position: relative;
	left: 30%;
	margin-bottom: 2%;
}

#checkout{
	width: 15%;
	height: 5%;
	color: white;
	border-radius: 10%;
	display: inline-block;
	position: relative;
	left: 53%;
	margin-bottom: 2%;
	text-align: center;
}

#checkout a{
	text-decoration: none;
	color: white;
}

.lgNav{
	font-size: 20px;
}

.lgNav a:hover{
	background-color: #00cc99;
}

.mainPic{
	height: 300px;
	width: 100%;
	background-image: url("../img/pizza1.jpeg");
	background-size: cover;
}


#deals{
	margin-left: 0px;
	margin-right: 0px;
}

h3{
	text-decoration: underline;

}
#selection{
	border: 1px solid black;
	margin-left: 0px;
	margin-right: 0px;
}
.size, .meat{
	border-right: 1px solid black;
}

.other{
	visibility: hidden;
}

.plate{
	height: 260px;
	width: 260px;
	background: url(../img/order/paperplate.png);
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
	left:-200px;
	transition: left 2s;
}

.addPizza{
	height: 200px;
	width: 200px;
	background: url("../img/order/cheese_1.png");
	background-size: contain;
	position: absolute;
	top: +280px;
	left: 15%;
	transition: left 2s;
}

.addPepperoni{
	height: 200px;
	width: 200px;
	background: url("../img/order/topping_pepperoni.png");
	background-size: contain;
	position: absolute;
	display: inline-block;
	top: +280px;
	left: 41%;
	transition: left 2s;
}

.addChicken{
	height: 200px;
	width: 200px;
	background: url("../img/order/topping_chicken.png");
	background-size: contain;
	position: absolute;
	display: inline-block;
	top: +280px;
	left: 41%;
	transition: left 2s;
}

.addItalianSausage{
	height: 200px;
	width: 200px;
	background: url("../img/order/topping_italiansausage.png");
	background-size: contain;
	position: absolute;
	display: inline-block;
	top: +280px;
	left: 41%;
	transition: left 2s;
}

.addMeatballs{
	height: 200px;
	width: 200px;
	background: url("../img/order/topping_meatball.png");
	background-size: contain;
	position: absolute;
	display: inline-block;
	top: +280px;
	left: 41%;
	transition: left 2s;
}

.addPepper{
	height: 200px;
	width: 200px;
	background: url("../img/order/topping_pepper.png");
	background-size: contain;
	position: absolute;
	display: inline-block;
	top: +280px;
	left: 72%;
	transition: left 2s;
}

.addOlives{
	height: 200px;
	width: 200px;
	background: url("../img/order/topping_olives.png");
	background-size: contain;
	position: absolute;
	display: inline-block;
	top: +280px;
	left: 72%;
	transition: left 2s;
}

.addSpinach{
	height: 200px;
	width: 200px;
	background: url("../img/order/topping_spinach.png");
	background-size: contain;
	position: absolute;
	display: inline-block;
	top: +280px;
	left: 72%;
	transition: left 2s;
}

.addPineapple{
	height: 200px;
	width: 200px;
	background: url("../img/order/topping_pineapple.png");
	background-size: contain;
	position: absolute;
	display: inline-block;
	top: +280px;
	left: 72%;
	transition: left 2s;
}

#checkoutPage{
	height: 20%;
	width: 80%;
	border: 1px solid black;
	color: black;
}

.total{
	border-top: 1px solid black;

}

#map{
	 width:100%;
	 height:400px;
	 margin: 0 auto;
}