
.row{
	margin-bottom: 0px;
	margin-top: 0px;
}

.logoCircle{
	display: inline-block;
	height: 60px;
	width: 60px;
	background-color: white;
	border-radius: 100%;
	margin-left: 1%;
	margin-top: 0.25%;
}

.logo{
	display: inline-block;
	margin-left: 10px;
	margin-top: 5px;
}

#heading:hover{
	text-decoration: none;
}

.lgNav{
	font-size: 20px;
}

.mainPic{
	height: 300px;
	width: 100%;
	background-image: url("../img/pizza1.jpeg");
	background-size: cover;
}


#deals{
	margin-left: 0px;
	margin-right: 0px;
}

h3{
	text-decoration: underline;

}
#selection{
	border: 1px solid black;
	margin-left: 0px;
	margin-right: 0px;
}
.size, .meat{
	border-right: 1px solid black;
}

.plate{
	height: 230px;
	width: 230px;
	border-radius: 100%;
	background-color: red;
	position: relative;
	left:-200px;
	transition: left 2s;
}

.addPizza{
	height: 200px;
	width: 200px;
	background: url("../img/order/cheese_1.png");
	background-size: contain;
	position: absolute;
	top: +250px;
	left: +60px;
	transition: left 2s;
}

.addPepperoni{
	height: 200px;
	width: 200px;
	background: url("../img/order/topping_pepperoni.png");
	background-size: contain;
	position: absolute;
	display: inline-block;
	top: +250px;
	left: +310px;
	transition: left 2s;
}

.addChicken{
	height: 200px;
	width: 200px;
	background: url("../img/order/topping_chicken.png");
	background-size: contain;
	position: absolute;
	display: inline-block;
	top: +250px;
	left: +310px;
	transition: left 2s;
}

.addItalianSausage{
	height: 200px;
	width: 200px;
	background: url("../img/order/topping_italiansausage.png");
	background-size: contain;
	position: absolute;
	display: inline-block;
	top: +250px;
	left: +310px;
	transition: left 2s;
}

.addMeatballs{
	height: 200px;
	width: 200px;
	background: url("../img/order/topping_meatball.png");
	background-size: contain;
	position: absolute;
	display: inline-block;
	top: +250px;
	left: +310px;
	transition: left 2s;
}

.addPepper{
	height: 200px;
	width: 200px;
	background: url("../img/order/topping_pepper.png");
	background-size: contain;
	position: absolute;
	display: inline-block;
	top: +250px;
	left: +540px;
	transition: left 2s;
}

.addOlives{
	height: 200px;
	width: 200px;
	background: url("../img/order/topping_olives.png");
	background-size: contain;
	position: absolute;
	display: inline-block;
	top: +250px;
	left: +540px;
	transition: left 2s;

.addSpinach{
	height: 200px;
	width: 200px;
	background: url("../img/order/topping_spinach.png");
	background-size: contain;
	position: absolute;
	display: inline-block;
	top: +250px;
	left: +540px;
	transition: left 2s;
}

.addPineapple{
	height: 200px;
	width: 200px;
	background: url("../img/order/topping_pineapple.png");
	background-size: contain;
	position: absolute;
	display: inline-block;
	top: +250px;
	left: +540px;
	transition: left 2s;
}