body{
	width: 90%;
	margin-left: 50px;
}

div#selection {
	display: none;
}

#dropbtn, input{
	margin-left: 50px;
	margin-top: 20px;
}

#selection {
	margin-left: 50px;
}

a {
	background-color: red;
	color: white;
	text-decoration: none;
	border: 1px solid white;
}

span#converted {
	background-color: red;
	color: white;
}