
	body {
		min-width: 480px;
}

h1 {
	margin-bottom: 40px;
	margin-left: 7%;
	padding-top: 10px;
	font-family: verdana, arial, sans-serif;
	font-size: 25px;
}

.header, .content, .sidebar, .footer {
	background-color: #dddddd;
	border: 1px solid #bbbbbb;
	margin-bottom: 2%;
}

div.header {
	height: 200px;
	width: 84%;
	margin-right: auto;
	margin-left: auto;
}

div.content {
	height: 600px;
	width: 55%;
	margin-right: 2%;
	margin-left: 8%;
	display: inline-block;
}

div.sidebar {
	height: 600px;
	width: 26%;
	display: inline-block;
}

div.footer {
	height: 200px;
	width: 84%;
	margin-right: auto;
	margin-left: auto;
}