h3{
	text-decoration: underline;
}

.modal{
	display: none;
	height: 200px;
	width: 400px;
	border-radius: 10px;
	border: 1px solid black;
	background-color: white;
	z-index: 1;
	margin: 0 auto;
}

.innerform{
	height: 180px;
	width: 350px;
	margin: 0 auto;
}
.myname, .mypassword{
	height: 30px;
	width: 300px;
	margin: 5px 10px 5px 10px;
}
input {
	border: 1px solid lightgrey;
}

button {
	
}

.btn1{
	height: 30px;
	width: 70px;
	background-color: #21BA45;
	color: white;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
}

.btn2{
	height: 30px;
	width: 70px;
	margin-top: 10px;
	background-color: #1B1C1D;
	color: white;
}


