body {
font-family: 'Lato', sans-serif;
color:  #444444;
}

.container{
	width: 1050px;
	margin: 0 auto;
}

.mainColumn {
	display: inline-block;
	width: 680px;
	margin-right: 1px;
	margin-bottom: 20px;
}

.rightColumn {
	display: inline-block;
	width: 320px;
	margin-right: 0px;
	margin-left: 0px;
	line-height: 1.5;
	font-size: 18px;
	padding-top: 50px;
	float: right;
}

.ad {
	width: 100%;
	height: 210px;
	background-color: #cccccc;
	font-size: 100px;
	text-align: center;
	padding-top: 30px;
	color: #aaaaaa;
	font-family: "American Typewriter", serif;
	margin-top: 30px;
	margin-bottom: 30px;
}

a.popularItems {
	text-decoration: none;
}

h1 {
color: red;
font-size: 48px;
font-weight: lighter;
display: inline-block;
margin-right: 10px;
}

h2 {
font-size: 34px;
font-weight: lighter;
margin-top: 10px;
}

h3 {
font-size: 30px;
color: #aaaaaa;
font-weight: lighter;
display: inline-block;
}

.main-nav {
	width: 100%;
}

.nav {
font-size: 24px;
width: 171px;
display: inline-block;
margin-right: 1px;
padding-top: 20px;
padding-bottom: 20px;
color: #ffffff;
background-color: #000000;
text-decoration: none;
text-align: center;
}

.nav:hover {
	background-color: #ff0000;
}

.dropcap {
	float: left;
	font-size: 100px;
	margin-top: -40px;
	padding-bottom: 0px;
	color: #dddddd;
}

.date {
 color: #cccccc;
 margin-top: 50px;
 margin-bottom: 15px;
}

.topic {
margin-bottom: 15px;
}

img {
	width:100%;
	height: 240px;
}

.content {
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 1.5;
	font-size: 18px;
}

a {
color: #DD0000;

}
a:hover {
color: #aa0000;
}

.menuBelow {
	display: inline-block;
	clear:both;
}

.menu {
	display: inline-block;
	margin-top: 20px;
	text-decoration: none;
	font-size: 18px;
}

.continue {
	float: right;
}

.continue a {
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
}

.continue a:hover {
	 color: #aa0000;
}

hr {
	margin-top: 50px;
	clear: both;
	border: 0.5px solid #dddddd;
}

footer {
margin-top: 20px;
color: #bbbbbb;
clear: both;
}
